@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

section {
  background-color: #ffffff;
}

.personal {
  background-color: #1c1d25;
  height: 100vh;
  color: antiquewhite;
  font-size: 40px;
}

footer {
  background-color: black;
  color: antiquewhite;
  text-align: center;
  align-items: center;
  padding: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: inline-flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

ul.show {
  display: block;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}

.personal-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.personal-text {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 200px;
}

.button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: coral;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #ef744b;
}

.button:active {
  background-color: #a9a9a9;
  color: #808080;
}

.socials {
  padding-bottom: 200px;
}

.social {
  margin: 20px;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.headshot {
  width: 300px;
  border-radius: 150px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(6, auto);
}

.project-card {
  width: 220px;
  height: 400px;
  box-shadow: 5px 5px 20px grey;
  margin: 8px;
}

.alert-info {
  color: red;
  font-size: x-small;
}
@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.project-image {
  margin-top: 25px;
  width: 200px;
  border-radius: 125px;
  cursor: pointer;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link-web {
  text-decoration: none;
  color: #4d2316;
}

.project-link-git {
  text-decoration: none;
  color: #ef744b;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  ul {
    display: none;
    background-color: #2b2c38;
    margin: 0px;
  }

  ul.show {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #2b2c38;
  }
  .sub-section-alternative {
    padding: 70px;
  }
  .project-card {
    width: 400px;
  }
}

@media screen and (max-width: 1320px) and (min-width: 421px) {
  .project-container {
    grid-template-columns: repeat(4, auto);
  }
}
